@model HumanitarianAid.Models.TempUser


@{
    ViewBag.Title = "Login";
    var msg = ViewBag.LoginFailed;
    Layout = null;
}

<!DOCTYPE html>
<html>


<head>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>



<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index">Humanitarian Aid</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">

                    <li>
                        <div class="align-content-center text-center text-warning"> LOGIN AS AN ADMIN</div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <body>

        <div class="container bg-dark.bg-gradient">
            <div class="row">

                <div class="col-5 bg-dark bg-gradient   text-white ">

                    <div class="form-horizontal p-3 mb-2 justify-content-center">
                        <h4>AdminLogin</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.D_mail, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.D_mail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.D_mail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.D_Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.D_Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.D_Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 pt-3">
                                <input type="submit" value="                                    Login                                    " class="btn btn-success p-2" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <img src="~/Content/images/ha.PNG" class="img-fluid" alt="">
                </div>
            </div>

        </div>
    </body>
}

@if (msg != null)
{

    <p class="text-danger">@msg</p>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
