@model HumanitarianAid.Models.Donation

@{
    ViewBag.Title = "Delete";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Admin/AdminInfo">Humanitarian Aid</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">

                    <li>
                        <div class="align-content-center text-center text-warning"> REMOVE FROM STORAGE</div>
                    </li>
                </ul>





                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Storage">Back</a>
                    </li>
                </ul>



            </div>

        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>





<body background="~/Content/Images/18.PNG">

    <div class="container">
        <div class="row">
            <div class="col-5">
            </div>

            <div class="col-2">
                <hr />
                <div class="card justify-content-center text-center text-light bg-secondary">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.D_id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.D_id)   <hr />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Productname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Productname)   <hr />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Quantity)   <hr />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Unit)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Unit)  <hr />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)   <hr />
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions ">
                            <input type="submit" value="Delete" class="btn btn-success p-2" />

                        </div>
                    }
                </div>
            </div>
            <div class="col-5">
            </div>


        </div>
    </div>
</body>

